@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400,600');
@import url('https://www.youworkforthem.com/font/T2033/creighton');

:root {
  /*
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/
  /* Override Variables */
  --font-family-sans-serif: 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --gray-dark: #404040;
  --primary: #28235d;

  /* Page Variables */
  --font-family-serif: Creighton, serif;
  --color-text: var(--gray-dark);
  --font-family-text: var(--font-family-serif);
}

@font-face {
	font-family: 'Creighton';
	src: url('creighton.eot');
	src: url('creighton.eot?#iefix') format('embedded-opentype'),
             url('creighton.woff2') format('woff2'),
	     url('creighton.woff') format('woff'),
	     url('creighton.ttf') format('truetype'),
	     url('creighton.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}


div {
  font-family: 'Creighton';
    font-size: 1.15em;
}

p {
  font-size: 1em;
}

.family-sans {
  font-family: 'Creighton';
}



html {
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Creighton';
  color: var(--color-text);
  font-weight: normal;
  font-size: 6em;
  font-style: normal;
}

hr {
  margin: 5px 0 !important;
}

.site-nav {
  background-color: #28235d;
}

@media screen and (max-width 768px){
  .site-header .navbar-collapse{

  }
}

#page-floater {
  background: radial-gradient(
    ellipse at left,
    var(--gray) 0,
    var(--gray-dark) 100%
  );
  padding: 0em 0;
}

/* Layout Float */

@media screen and (min-width: 992px) {
  #page-floater {
    margin: 50px 0 150px 0;
  }

  #page-floater .img-container {
    position: relative;
  }

  #page-floater .layout-image {
    position: absolute;
  }

  #page-floater img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg);
  }
}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.1, 1.1);
    }

    100% {
    transform: scale(1, 1);
    }
}





.site-header {
  background: url(../images/00.jpg);
  background-color: #fff;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.site-header img {
}

.site-header .layout-hero {
  min-height: 50vh;
}

.page-section-title {
  font-size: 1.5em;
  font-family: 'Creighton';
  font-weight: 0;
}

.site-header .page-section-title {
  font-size: 3em;
  font-family: 'Creighton';
  font-weight: 0;
}

.site-header .page-section-text {
  font-size: 1.2em;
}

.carousel-font-size
{
  font-size: 1em;
}

.site-footer {
  background-color: #28235d;
}

.layout-social .layout-icon {
  font-size: 2em;
}

.layout-social a:hover {
  text-decoration: none !important;
}

.hidden {
  display: none;
}

.card-icon {
    font-size: 3em;
    color: #28235d;
}

.pulse {
    animation: pulse 1s linear infinite;
    color: #ff3f00;
}

.lightbulb
{
  color: #ffbf00
}
.button {
    color: #fff;
    background-color: #28235d;
    border: 1px Solid;
    border-color: #28235d;
    border-radius: 0.0em;
    margin: 0.5em;
}

.button:hover {
    color: #28235d;
    text-decoration: none;
    background-color: #fff;
}

.card-button {
    color: #28235d;
    background-color: #fff;
    border: 1px Solid;
    border-color: #28235d;
    border-radius: 0.0em;
    margin: 0.5em;
}

.card-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #28235d;
    transition: 1s;
}

.btn-outline-primary{
  border-color: #28235d !important;
  color: #28235d !important;
  border-radius: 0.0em !important;
}



.btn-outline-primary:visited {
  background-color: #28235d !important;
  color: #28235d !important;
}

.btn-outline-primary:hover, .btn-outline-primary:active, {
    background-color: #28235d !important;
    color: #fff !important;
    transition: 1s !important;
}

.w3-animate-opacity {
  animation:opac 1.5s !important;
}

.w3-animate-right{
  animation:animateright 1.5s !important;
}

.w3-animate-left{
  animation:animateright 1.5s !important;
}


.carousel-inner {
      width: 80%;
  }



  #topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10000;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #28235d;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#topBtn:hover {
  background-color: #555;
  text-decoration: none;
}

/* Contact Form*/
#form input[type=text], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: "Creighton";
}

#form textarea {
   width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
	font-family: "Creighton";
}

#form input[type=submit] {
    width: 4em;
    background-color: #ff6600;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form input[type=submit]:hover {
    background-color: #cc5200;
}

#form {
    border-radius: 5px;
    background-color: ;
    padding: 20px;
	font-family: "Creighton";
  font-size: 1.1em;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.97); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.hamburger {

  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.hamburger > div::before,
 .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
 .hamburgerOpen > div {
  transform: rotate(135deg);
}




/* Turns Lines Into X */
.hamburgerOpen > div:before,
.hamburgerOpen > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.hamburgerOpen:hover > div {
  transform: rotate(225deg);
}
