body{
  font-family: "Calibri";
  margin:0;
  background:#FFEFD5;
  color:#000;
}

hr {
  border-color: #fff;
  width: 80%;
  margin:0 auto;
}

/* .wrapper {
  width: 30%;
  height: 30%;
  margin:0 auto;
    float: left;
}

.wrapper1 {
  width: 30%auto;
  height: 30%auto;
  margin:0 auto;
  float: right;
} */


#main-content{
  padding:0px;
  height: 100px;
  width:80%;
  margin:0 auto;
  text-align: center;
}

.wrapper{padding:25px 0;overflow:hidden;min-height:245px;}

.wrapper1{width:300px;padding:;float:left;position:relative}

.wrapper2{width:850px;float:right;padding-top:30px;padding-right:40px;}

.wrapper3{width:250px;float:left;padding:20px 10px 0px 0px;font-size:40px;}
.wrapper3 ul {margin:30px 0 20px 0;}
.wrapper3 ul li {display: block;}

.bwrapper{


}


.b {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    height: 400px;
    background-color: lightgrey;
    min-width: 400px;
    max-width: 400px;
}
